*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

button:focus {
  outline: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  align-items: end;
  gap: 30px;
  width: 100%;
  padding: 130px 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 2px;
}

fieldset {
  border: none;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus,
.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
}

.search-form__checkbox-list:nth-last-child() {
  gap: 0px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  width: 13px;
  height: 13px;
  background-color: #fff;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::after {
  display: block;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  width: 711px;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 389px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-area: content__details;
  align-items: flex-start;
  gap: 26px;
  width: 399px;
  height: 100%;
  overflow: auto;
}

.title {
  margin-top: 3px;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 75px;
  line-height: 0.94em;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  width: 399px;
  height: 298px;
  padding-left: 3px;
  overflow: auto;
}

.content__list-item:has(.content__card-link_current) {
  background-color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.content__video-card-title {
  margin-bottom: 5px;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: auto;
}

.more-button {
  flex-shrink: 0;
  height: 34px;
  margin-right: 3px;
  margin-bottom: 3px;
}

button:active {
  background-color: #545050;
}

button:hover {
  text-decoration: underline;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
